{% extends 'base.html' %}

{% block content %}
    <div class="page-header">
        <h1>Your Shopping Cart</h1>
    </div>
    <div class="row" id="app_cart">
        <table class="table">
            <thead>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
            </thead>
            <tbody>
            {% for item in cart_items %}
                <tr>
                    <td>
                        {{ item.product.name }}
                        <ul>
                            {%  for  variation in item.variations.all %}
                            <li>{{ variation.title }}</li>
                        {% endfor %}
                        </ul>
                    </td>

                    <td>{{ item.quantity }}</td>
                    <td>${{ item.product.price }}</td>
                    <td>
                        <Button @click="remove_item({{ item.id }})" class="btn btn-success">Supprimer </Button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td>Total</td>
                <td></td>
                <td>${{ order_total }}</td>
                <td></td>
            </tr>
            </tfoot>
        </table>
        <div>
            {% csrf_token %}
        </div>
        <a class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
    </div>

{% block extra_javascipt %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
{% endblock %}

  <script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    var prodcuapp = new Vue({
        el : "#app_cart",
        delimeters : [ '[[', ']]' ],
        data(){
            return{
                message : "Welcome V ecommerce",
            }
          },
        // mount
        mounted(){
            console.log("Vue mounted !")
        },

        methods:{
          
        // remove item
        remove_item(product_id){
          console.log("remove item = " + product_id);

          let url = '/api/remove_item/'
          let data = {
              'product_id' : product_id, 
              }

          
          fetch(url, {
            method : 'POST', 
            headers :{
              'Content-Type': "application/json",
              'X-CSRFToken' : csrftoken,
            },
            credentials: 'same-origin',
            body : JSON.stringify(data),
          })      
          .then(response => {
            result = response.json()
            return result
          })
          .then(result =>{
            console.log("remove item " + result)  
          }).catch(function(error){
            console.log(error)
          })
        }, // fin add to cart
      }

      
    }) 

</script>

{% endblock content %}

