{% extends 'base.html' %}

{% block content %}
    <div class="page-header">
        <h5>Your Shopping Cart   </h5>
       
    </div>
    <div class="row" id="app_cart">
        <h5>Your Shopping Cart </h5>
      
        <table class="table">
            <thead>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th> action</th>
            </thead>
            <tbody> 
                <tr v-for="item in products" :key="item.id">
                    <td>
                        <ul>
                            {%  for  variation in item.variations.all %}
                            <li>{{ variation.title }}</li>
                        {% endfor %}
                        </ul>
                        [[ item.name ]]
                    </td>
                    <td> 
                      <button class="btn btn-info " 
                      @click.prevent="update_qte(item.id, item.quantity, -1)">-</button>
                      [[ item.quantity ]]
                      <button class="btn btn-info " 
                      @click.prevent="update_qte(item.id, item.quantity, 1)"> +</button>
                    </td>
                    <td>[[ item.price ]] </td>
                    <td><Button @click="remove_item(item.id)" class="btn btn-success">Supprimer</Button></td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>Total</td>
                <td></td>
                <td> [[ total ]]</td>
                <td></td>
            </tr>
            </tfoot>
        </table>
        <div>
            {% csrf_token %}
        </div>
        <a class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
    </div>

{% block extra_javascipt %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
{% endblock %}

        
  <script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    var prodcuapp = new Vue({
        el : "#app_cart",
        delimiters: ['[[', ']]'],
        
        data(){
            return{
                message : "Welcome V ecommerce",
                product : {'id':null, 'name': '', 'quantity':1, 'price':0},
                total : 999,
                products :[],

            }
          },
        // mount
        mounted(){
            let url = '/api/get_products/'
            // fetchons ...
            fetch(url, {
              method : 'GET',
              headers :{
                'Content-Type': "application/json",
                'X-CSRFToken' : csrftoken,
              },
              credentials: 'same-origin',
              //body : JSON.stringify(data),
              }) 
            .then(response=>{
              result = response.json();
              console.log("Vue mounted !", result)
              return result
            })
            .then( result => {
              console.log("resulat = " + result);
              this.products = result
            })
            .catch(error=>console.log("attenton erreur !" + error))
      
        },

        methods:{
        // incremente qte 
        update_qte(product_id, qte, plus=1){
          console.log("incremente qte = " + qte);

          let url = '/api/incremente_quantity/'
          
          let data = {
              'product_id' : product_id, 
              'quantity': parseInt(qte) + plus,
              }
          fetch(url, {
            method : 'POST', 
            headers :{
              'Content-Type': "application/json",
              'X-CSRFToken' : csrftoken,
            },
            credentials: 'same-origin',
            body : JSON.stringify(data),
            })      
            .then(response => {
              result = response.json()
              return result
            })
            .then(result =>{
              for(i=0; i < this.products.length;  i++){
                if (product_id === this.products[i]['id'] ){
                  this.products[i]['quantity'] = parseInt(this.products[i]['quantity']) + plus
                  console.log("updated qte " + this.products[i]['quantity'] ) 

                }
              }
            }).catch(function(error){
              console.log(error)
            })
        }, // fin increment_qte
         
        // remove item
        remove_item(product_id){
          console.log("remove item = " + product_id)

          let url = '/api/remove_item/'
          let data = {
              'product_id' : product_id, 
              }

          
          fetch(url, {
            method : 'POST', 
            headers :{
              'Content-Type': "application/json",
              'X-CSRFToken' : csrftoken,
            },
            credentials: 'same-origin',
            body : JSON.stringify(data),
          })      
          .then(response => {
            result = response.json()
            return result
          })
          .then(result =>{
            console.log("remove item " + result)  
          }).catch(function(error){
            console.log(error)
          })
        }, // fin add to cart
      }

      
    }) 

</script>

{% endblock content %}

