{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Required meta tags -->
       

    <title> {% block title %} {% endblock %} Ecommerce for city - Shopy</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom Fonts -->
    
     <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/my_style.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="navbar-example2" class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Vecommerce</a>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Accueil</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" 
            aria-haspopup="true" aria-expanded="false">Mon Compte</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#one">Se connecter</a>
              <a class="dropdown-item" href="#two">Mes commandes</a>
              <div role="separator" class="dropdown-divider"></div>
              <a class="dropdown-item" href="#three">Quiter</a>
            </div>
          </li>
          <!-- Menue context processors -->
          <div class=navbar-menu></div>
            {% for category in menu_categories %}
              <li class="nav-item"> 
                <a class="nav-link" href="{% url 'category_detail' category.slug %}">{{ category.name}}</a>
              </li>
            {% endfor %}
            <!-- Cart -->
            <li class="nav-item">
              <a class="nav-link btn btn-success" href="{% url 'rt-cart' %}">Cart</a>
            </li>
            
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>

    <header>
        <div class="breadcrumb">
            <div class="header-content-inner">
                <h1>Your Favorite Shopy Mojoud </h1>
                <hr>
                <p>Start going, no strings attached!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

<div class="container">
  {% block content %}
  {% endblock %}
</div>

<div class="footer">
  <div class="row justify-content-center mb-4">
    <div class="col-md-4">
      <h3 class="subtitle">  V ecommerce </h3>
    </div>
    <div class="col-md-8">
      <a href="{% url 'contact' %}">Nous contactez</a>  
      <a href="{% url 'about' %}" class="item-groups item">FA propos</a>
    </div>
  </div>
</div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
